// Place all the styles related to the api/parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#park-bg {
  background-color: white;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.galaxy #park-bg {
  background-color: black;
  border-top: 1px solid #252525;
}

#park-page-container {
  width: 800px;
  margin: 0 auto;
  display: block;
  background-color: white;
  overflow: hidden;
}

.galaxy #park-page-container {
  background-color: black;
  color: white;
}

#park-header {
  margin: 20px;
  width: 800px;
}

#state div {
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
  color: #767676;
}

.galaxy #state div {
  color: white;
}

#park-header h1 {
  font-size: 30px;
  font-weight: 600;
}

#overview {
  margin: 20px;
  width: 600px;
  font-size: 14px;
  color: #5A5A5A;
  line-height: 1.4;
  display: inline-block;
}

#overview div {
  display: inline-block;
}

.galaxy #overview {
  color: white;
}

#park-map {
  width: 650px;
  margin-left: -10px;
  border-radius: 10px;
}

#park-info {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 400px;
  font-size: 14px;
  color: #5A5A5A;
}

.galaxy #park-info {
  color: white;
}

#park-left-info {
  flex: 2;
  margin-right: 50px;

}

#park-right-info {
  flex: 1;
  margin-left: 20px;
}

#park-page-container>h1 {
  font-weight: 600;
  margin: 20px;
}

#park-info div {
  margin-bottom: 20px;
}

#park-info h2 {
  font-weight: 600;
}

#park-module {
  width: 580px;
  height: 235px;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .2);
}

.galaxy #park-module {
  background-color: #252525;
}

#park-module>div {
  width: 580px;
  height: 150px;
  overflow: hidden;
}

#park-module img {
  width: 580px;
  height: auto;
  object-fit: cover;
  transform: translateY(-20%);
}

#park-module #trail-stats h1 {
  width: 560px;
}

li a {
  color: #5A5A5A;
}

.galaxy li a {
  color: white;
}