// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#review-module {
  border-bottom: 1px solid #dbdbdb;
  margin: 20px;
  padding-bottom: 20px;
}

#review-stats h1 {
  color: #55882C;
  margin-bottom: 10px;
  font-weight: 400;
}

#review-stats h2 {
  color: #6d6d6d;
  font-weight: 600;
}

#subheader {
  display: flex;
}

#rating {
  width: 100px;
  margin-right: 10px;
}

#actdate {
  color: #929292;
  font-size: 14px;
  padding-top: 2px;
}

#body {
  color: #6d6d6d;
  margin-top: 10px;
  margin-bottom: 10px;;
}

#mod-delete {
  display: flex;
}

#mod-delete button {
  color: white;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 50px;
  border: 0px solid white;
}

#dlt-btn {
  background-color: #D75B32;
  color: white;
  font-size: 10px;
  font-weight: 600;
}

#edit-btn {
  background-color: #6d6d6d;
}

#reviews {
  position: relative;
}

#rev-button {
  position: absolute;
  left: 300px;
  top: 25px;
  background-color: #55882C;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  width: 150px;
  border: 0px solid white;
}

.login-btn#rev-button {
  width: 200px;
}

#avg-rating {
  color: #464646;
  margin: 20px;
  padding-bottom: 40px;
  padding-top: 10px;
  border-bottom: 1px solid #dbdbdb;
}

#no-reviews {
  margin-left: 20px;
  padding-top: 30px;
  font-size: 18px;
}

#avg-rating p {
  font-size: 45px;
}

#avg-rating h2 {
  font-size: 18px;
  margin-right: 20px;
}