#search-results {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 90%;
  background-color: white;
  margin-top: -1px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 10px;
}