// Place all the styles related to the api/trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trails {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 10px;
  align-content: space-around;
  justify-content: center;
  min-width: 1080px;
}

#trail-module {
  flex: 0 1 auto;
  flex-shrink: 0;
  width: 250px;
  height: 200px;
  background-color: white;
  // padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  // box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.galaxy #trail-module {
  background-color: #252525;
}

#trail-module>div {
  width: 250px;
  height: 100px;
  overflow: hidden;
}

#trail-module img {
  width: 255px;
  height: auto;
  object-fit: cover;
  transform: translateY(-20%);
}

#trail-stats {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

#trail-stats p {
  font-size: 14px;
  color: #767676;
}

.galaxy #trail-stats {
  color: white;
}



.galaxy #trail-stats p, .galaxy #lower-info div {
  color: lightgray;
}

#lower-info div {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #767676;
}

#trail-stats h1 {
  font-weight: 600;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.difficulty {
  color: white;
  font-size: 12px;
  font-weight: 350;
  border-radius: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
  display: block;
  width: 70px;
  text-align: center;
}

.difficulty#Easy {
  background-color: #629730;
}

.difficulty#Hard {
  background-color: #414141;
}

// .galaxy .difficulty#Hard {
//   background-color: black;
// }

.difficulty#Moderate {
  background-color: #4B98D3;
}



