#trail-page-container {
  width: 800px;
  margin: 0 auto;
  display: block;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, .2);
}

.galaxy #trail-page-container {
  background-color: #414141;
  color: white;
  box-shadow: 0 0px 4px 0 rgba(184, 184, 184, 0.6);
}

.galaxy #trail-page-container p {
  color: white
}


#trail-page-container header {
  height: 200px;
}

#top-info {
  transform: translateY(80%);
  padding: 20px;
}

#top-info h1 {
  font-weight: 600;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#divider {
  height: 40px;
  background-color: #55882C;
}

#page-split {
  display: flex;
}

#left-page {
  flex: 2.5;
  border-right: 1px solid lightgray
}

#left-page hr {
  width: 93%;
  outline-color: lightgray;
}

#right-page {
  flex: 1;
}

#trail-overview p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #767676;
  line-height: 1.4;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  border-spacing: 20px;
}

#trail-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  width: 70%;
  padding-left: 20px;
}

#trail-info div {
  font-size: 10px;
  color: #767676
}

#trail-info p {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

#description #divider {
  margin-top: 20px;
  background-color: #F2F2F2;
}

.galaxy #description #divider {
  margin-top: 20px;
  background-color: black;
  color: white
}

#description #divider p {
  color: #55882C;
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #55882C;
  width: 72px;
}

#bottom {
  height: 100px;
}





