#search-spread {
  width: 100%;
  height: 540px;
  background: url('https://hikers-guide.s3.us-west-1.amazonaws.com/HikersGuide_GP2/DSC_0318.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  background-attachment: scroll;
}

.galaxy #search-spread {
  background: url('https://hikers-guide.s3.us-west-1.amazonaws.com/galaxies/archives_helix.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

#search-spread header {
  font-weight: 700;
  position: relative;
  transform: translateY(220%)
}

#search-spread h1 {
  font-size: 60px;
  color: white;
  text-align: center;
}

#search-wrp {
  display: block;
  background-color: white;
  margin: 0 auto;
  width: 600px;
  height: 70px;
  transform: translateY(250%);
  border-radius: 70px;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

input#search-field{
  font-size: 16px;
  border: 0px solid white;
  width: 480px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

#search-icon {
  position: absolute;
  left: 25px;
  top: 25px;
}

#search-field:focus {
  outline:rgba(0, 0, 0, 0)
}

#go-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #629730;
  border: 0px;
  position: absolute;
  right: 25px;
  top: 15px;
}

.galaxy #go-button {
  background-color: #D75B32;
}

#arrow-btn {
  position: absolute;
  width: 25px;
  right: 32px;
  top: 23px;
  cursor: pointer;
}

#bg {
  background-color: #F2F2F2;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.galaxy #bg {
  background-color: black;
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
}

#local-favorites {
  display: block;
  margin: 0 auto;
  width: 1080px;
  padding-top: 40px;
  padding-bottom: 100px;
}

#fav-header {
  font-size: 20px;
  display: block;
  margin-left: 10px;
}

.galaxy #fav-header {
  color: white;
}

#fav-header h2 {
  display: inline-block;
}

#fav-header p {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
  text-decoration: underline;
}